<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   </head>
    <body class='grey lighten-3'>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

        <div class="container">
 
        <h1>Today's News is {{ news['dominant_sentiment'] }}</h1>

        {% for article in news['articles'] %}
        <div class="section">
        <a href={{ article['url'] }}><h5>{{ article['headline'] }} ({{
                article['primary_emotion'] }}, {{ article['other_emotions'][0] }},
                {{ article['other_emotions'][1] }})</h5></a>
        <p>By {{ article['author'] }}</p>
        <p>{{ article['description'] }}</p>
        <div>
            <span style="float:left; margin:0px 5px 0px 0px;">How do you feel about this?</span>
            <a class='waves-effect waves-light  feedback' h_id={{ article['h_id'] }} emotion="anger"
                                                   style="float:left; margin:0px
                                                   5px;">Anger</a>
            <a class='waves-effect waves-light  feedback' h_id={{ article['h_id'] }} emotion="disgust"
                                                   style="float:left; margin:0px
                                                   5px;">Disgust</a>
            <a class='waves-effect waves-light  feedback' h_id={{ article['h_id'] }} emotion="fear"
                                                   style="float:left; margin:0px
                                                   5px;">Fear</a>
            <a class='waves-effect waves-light  feedback' h_id={{ article['h_id'] }} emotion="joy"
                                                   style="float:left; margin:0px
                                                   5px;">Joy</a>
            <a class='waves-effect waves-light  feedback' h_id={{ article['h_id'] }} emotion="sadness"
                                                   style="float:left; margin:0px
                                                   5px;">Sadness</a>
            <a class='waves-effect waves-light  feedback' h_id={{ article['h_id'] }} emotion="surprise"
                                                                style="float:left;
                                                                margin:0px
                                                                5px;">Surprise</a>
            <br>
        </div>

        </div>
        <div class="divider"></div>

        {% endfor %}

        </div>

        News provided by <a href="newsapi.org">newsapi.org</a>

        <script>
Array.from(document.getElementsByClassName('feedback')).forEach(function(c) {
    c.addEventListener("click", function() {
        var emotion = c.getAttribute("emotion");
        var h_id = c.getAttribute("h_id");

        var xmlHTTP = new XMLHttpRequest();
        xmlHTTP.onreadystatechange = function() { 
            if (xmlHTTP.readyState == 4 && xmlHTTP.status == 200)
                console.log(xmlHTTP.responseText);
        };

        xmlHTTP.open("GET", "http://localhost:11235/react/" + h_id + "/" + emotion + "/", true);
        xmlHTTP.send(null);

        var p = c.parentElement;
        var pp = c.parentElement.parentElement;
        pp.removeChild(p);
        Materialize.toast('Thank you! Your response has been recorded.', 4000)
    });
});
        </script>
    </body>
</html>
